body {
  text-align: center;
}

#header {
  text-align: center;
}

#search-container {
  text-align: center;
  margin-top: 20px;
}

#result {
  text-align: center;
  margin: 20px auto;
  max-width: 800px;
  border: 1px solid #ccc;
  padding: 10px;
}

table {
  width: 100%;
}

th, td {
  padding: 10px;
  text-align: center;
}

#weather-image {
  max-width: 300px;
  display: block;
  margin: 0 auto;
}
